@import '~bootstrap/scss/bootstrap';

.row {
  text-align: center;
}

h1 {
  text-align: center;
}

p {
  text-align: center;
}

#center-button {
  text-align: center;
}

.container {

}

.box {
  align-items: center;
  background-color: green;
  border: 1px solid black;
  color: black;
  display: flex;
  height: 80px;
  justify-content: center;

}
