@import '~bootstrap/scss/bootstrap';


// .row {
//   background-color: green;
//   border: 1px solid black;
//   display: flex;
//
// }

.box {
  align-items: center;
  background-color: green;
  border: 1px solid black;
  color: black;
  display: flex;
  height: 80px;
  justify-content: center;

}
