@import '~bootstrap/scss/bootstrap';

.row {
  text-align: center;
}

h1 {
  text-align: center;
}

p {
  text-align: center;
}

#center-button {
  text-align: center;
}

.container {
  display: none;
}

#sign-out {
  display: none;
  text-align: center
}

#change-password {
  display: none;
  text-align: center;
}

#get-games-button {
  display: none;
  text-align: center
}

#create-game-button {
  display: none;
  text-align: center;
}

#user-message {
  display: none;
}

#sign-up {
  text-align: center;
}

#sign-in {
  text-align: center;
}
.box {
  font-size: 50px;
  align-items: center;
  background-color: green;
  border: 1px solid black;
  color: black;
  display: flex;
  height: 80px;
  justify-content: center;

}
